.details-wrapper {
  display: flex;
}

.line-4 {
  display: flex;
}

.line-1 {
  display: flex;
}

.rows > div {
  margin: 20px;
}

.vote {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.runtime{
  padding-left: 20px;
}
