.poster {
  width: 375px;
  height: 488px;
  background-size: cover;
}

.title-year {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.film-card{
  margin: 70px;
}
.year{
  border: 1px solid white;
}
