.poster {
  width: 250px;
  height: 70%;
}

.title-year {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

:host {
  position: relative;
  margin: 70px;
  z-index: 37;
}

.year {
  border: 1px solid white;
  padding: 5px 15px;
  font-weight: 100;
}

.movie-details p {
  font-weight: 100;
  font-size: 10pt;
}

.movie-title {
  font-weight: 300;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

app-movie-card-menu {
  visibility: hidden;
  position: absolute;
  background-color: rgb(23, 23, 32);
  margin-left: 215px;
  margin-top: 7px;
  border-radius: 15px;

}

*:hover {
  app-movie-card-menu {
    visibility: visible;
  }

}

