.wrapper {
  background-image: url("header.png");
  //background-image: url("https://www.internationalshowtimes.com/img/International_Showtimes_API_Movie_Guide_Data_Grid.jpg");
  background-size: cover;
}

.blur {
  backdrop-filter: blur(5px);
}
