.wrapper {
  background-image: url("https://cdn.tmobile.com/content/dam/t-mobile/ntm/specific-use/netflix/bg/619306-bg-full-netflix-grid-v2.desktop.jpg");
  background-size: cover;
}

.blur {
  backdrop-filter: blur(5px);
}
