<app-filter-sort-menu [options]="sortService.sortFields" [filters]="genreHolder.genres"
                      (filterEmitter)="filterMovies($event)"
                      (selectViewEmitter)="sortMovies($event)"></app-filter-sort-menu>
<p>{{(moviesService.moviesObs | async)?.length}} <span class="after-count-text">movies found</span></p>

<div class="film-cards">
  <app-movie-card *ngFor="let movie of (moviesService.moviesObs| async)" [movie]="movie"
                  (movieEmitter)="sendMovieDetailsToHeader($event)"
                  (click)="swapHeader()"></app-movie-card>
</div>
<app-modal-dialog *ngIf="isVisible" (decisionEmitter)="handleConfirm($event)" title="DELETE MOVIE"
                  message="Are you sure you want to delete this movie?"></app-modal-dialog>
