.menu-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgb(42, 42, 42);
}


select {
  background-color: rgb(23, 23, 23);
  border: none;
  outline: none;
}
option{
  border: none;
  outline: none;
}

.genres div, .select-sort {
  padding: 20px;
  z-index: 10;
}

.genres {
  display: flex;
}

.genres div:hover {
  border-bottom: 3px solid red;
  cursor: pointer
}
.sort-text{
  font-weight: 100;
  margin-right: 10px;
}
